body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif; }

@media (max-width: 576px) {
  body > div {
    transition: 0.3s;
    padding-left: 1rem;
    padding-right: 1rem; } }
.header-container .header-contents {
  margin-top: 1.5rem;
  max-width: 55rem; }
  .header-container .header-contents .hero {
    margin-top: -20rem;
    margin-bottom: 10rem;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px #333; }

@media (max-width: 576px) {
  .header-container .header-contents {
    text-align: left; } }
.search-container .search-contents {
  max-width: 55rem; }
  .search-container .search-contents .form-group {
    margin-bottom: 0; }
  .search-container .search-contents .input-group {
    border: 0.5px solid #BFBFBF;
    border-radius: 3px; }
    .search-container .search-contents .input-group input {
      border: none;
      border-left: 0.5px solid #BFBFBF;
      padding: 1.5rem 1rem;
      font-size: 1.25rem; }
      .search-container .search-contents .input-group input:focus {
        outline: none;
        box-shadow: none; }
      .search-container .search-contents .input-group input::placeholder {
        color: #8D8D8D;
        font-weight: 200; }
    .search-container .search-contents .input-group a {
      font-size: 1.4rem;
      color: #44813e;
      transition: 0.2s;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .search-container .search-contents .input-group a:hover {
        color: #91c24c;
        transition: 0.2s; }

.results-container {
  margin-top: 2rem;
  margin-bottom: 1.5rem; }
  .results-container .results-contents {
    max-width: 55rem; }
    .results-container .results-contents .list-group .list-group-item {
      margin-bottom: 1rem;
      border: none;
      border-radius: 0;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #BFBFBF;
      transition: 0.2s; }
      .results-container .results-contents .list-group .list-group-item > .row:first-child img {
        border-radius: 4px; }
      .results-container .results-contents .list-group .list-group-item > .row:last-child p {
        color: #272727;
        font-weight: 200;
        margin-bottom: 0.15rem; }
      .results-container .results-contents .list-group .list-group-item > .row:last-child .row > div:last-child {
        display: flex;
        align-items: center;
        color: #272727;
        font-weight: 200;
        margin-bottom: 0.15rem; }
      .results-container .results-contents .list-group .list-group-item > .row:last-child .row:first-child {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem; }
        .results-container .results-contents .list-group .list-group-item > .row:last-child .row:first-child > div:first-child {
          padding: 0; }
          .results-container .results-contents .list-group .list-group-item > .row:last-child .row:first-child > div:first-child img {
            height: 30px; }
      .results-container .results-contents .list-group .list-group-item > .row:last-child .row:last-child > div:first-child {
        padding: 0; }
        .results-container .results-contents .list-group .list-group-item > .row:last-child .row:last-child > div:first-child img {
          height: 20px; }
    .results-container .results-contents .btn-success {
      background-color: #91C24C;
      transition: 0.2s ease;
      border-radius: 20px;
      border: none; }
      .results-container .results-contents .btn-success:hover {
        background-color: #719C35;
        transition: 0.2s ease; }
